<!-- Footer Section Start -->
<div class="section footer-section footer-section-2" style="background-image: url('assets/images/bg/footer-bg-2.jpg');">

  <div class="container">
    <!-- Footer Widget Wrap Start -->
    <div class="footer-widget-wrap footer-widget-wrap-2">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <!-- Footer Widget Start -->
          <div class="footer-widget-about">
            <a class="footer-logo" href="index.html"><img src="assets/images/logo.png" alt="Logo"></a>
            <div class="widget-info widget-info-2">
              <ul>
                <li>
                  <div class="info-icon">
                    <i class="flaticon-phone-call"></i>
                  </div>
                  <div class="info-text">
                    <span><a href="index-2.html#">+91 458 654 528</a></span>
                  </div>
                </li>
                <li>
                  <div class="info-icon">
                    <i class="far fa-envelope-open"></i>
                  </div>
                  <div class="info-text">
                    <span><a href="index-2.html#">info@example.com</a></span>
                  </div>
                </li>
                <li>
                  <div class="info-icon">
                    <i class="flaticon-pin"></i>
                  </div>
                  <div class="info-text">
                    <span>60 East 65th Street, NY</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- Footer Widget End -->
        </div>
        <div class="col-lg-3 col-sm-6">
          <!-- Footer Widget Start -->
          <div class="footer-widget footer-widget-2">
            <h4 class="footer-widget-title">Enlaces</h4>

            <div class="widget-link">
              <ul class="link">
                <li><a href="/">Terms & Conditions</a></li>

              </ul>
            </div>
          </div>
          <!-- Footer Widget End -->
        </div>
        <div class="col-lg-3 col-sm-6">
          <!-- Footer Widget Start -->
          <div class="footer-widget footer-widget-2">
            <h4 class="footer-widget-title">Nuestros Servicios</h4>

            <div class="widget-link">
              <ul class="link">
                <li><a href="/">Desarrollo de softwate</a></li>
                <li><a href="/">Páginas web</a></li>
                <li><a href="/">Consultoría Tecnologica</a></li>
                <li><a href="/">Apps móviles</a></li>
              </ul>
            </div>
          </div>
          <!-- Footer Widget End -->
        </div>
      </div>
    </div>
    <!-- Footer Widget Wrap End -->
  </div>

  <!-- Footer Copyright Start -->
  <div class="footer-copyright-area footer-copyright-2">
    <div class="container">
      <div class="footer-copyright-wrap">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6">
            <!-- Footer Copyright Text Start -->
            <div class="copyright-text">
              <p>© Copyrights 2023 <a href="index-2.html#">MGeeks</a> Derechos reservados. </p>
            </div>
            <!-- Footer Copyright Text End -->
          </div>
          <div class="col-lg-6 col-md-6">
            <!-- Footer Copyright Social Start -->
            <div class="copyright-social">
              <ul class="social">
                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/home?lang=es"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
            <!-- Footer Copyright Social End -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Copyright End -->
</div>
<!-- Footer Section End -->

<!-- back to top start -->
<div class="progress-wrap">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
  </svg>
</div>
<!-- back to top end -->
