<!-- Page Banner Start -->
<div class="section page-banner-section" style="background-image: url('assets/images/page-banner.jpg');">
  <div class="shape-2"></div>
  <div class="container">
    <div class="page-banner-wrap">
      <div class="row">
        <div class="col-lg-12">
          <!-- Page Banner Content Start -->
          <div class="page-banner text-center">
            <h2 class="title">¿Porque nosotros?</h2>
            <ul class="breadcrumb justify-content-center">s
            </ul>
          </div>
          <!-- Page Banner Content End -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Banner End -->

<!-- Features-2 Start -->
<div class="section features-section-2 section-padding">
  <div class="container">
    <!-- Features-2 Wrap Start -->
    <div class="features-wrap-2">
      <div class="section-title2 text-center">
        <h3 class="sub-title">nos centramos en la innovación total</h3>
        <h2 class="title">Especialistas en <span>servicios Tecnologicos</span></h2>
        <p>Acelere la innovación con equipos tecnológicos de clase mundial Lo conectaremos con un equipo remoto completo
          de increíbles talentos independientes.</p>
      </div>
      <!-- Features-2 Item Wrap Start -->
      <div class="features-item-wrap">
        <!-- Features Item Box Start -->
        <div class="features-item-box features-box-1">
          <div class="features-item features-1">
            <div class="features-icon">
              <img src="assets/images/fer-1.png" alt="">
            </div>
            <div class="features-content">
              <h3 class="title">Desarrollo de software</h3>
              <p>Ofrecemos soluciones de desarrollo de software a medida para satisfacer las necesidades específicas de
                tu empresa. Desde la planificación y el diseño hasta la implementación y el mantenimiento, nuestro
                equipo de expertos te acompañará durante todo el proceso para garantizar que tu proyecto cumpla con los
                estándares más altos de calidad. </p>
            </div>
          </div>
          <div class="features-item features-2">
            <div class="features-icon">
              <img src="assets/images/fear-4.png" alt="">
            </div>
            <div class="features-content">
              <h3 class="title">Páginas web</h3>
              <p>Creamos páginas web personalizadas y atractivas para tu negocio, con un diseño moderno y responsive que
                se adapta a cualquier dispositivo. Nuestro enfoque es en la experiencia del usuario, la optimización del
                SEO y la seguridad del sitio, para que puedas alcanzar tus objetivos de marketing en línea.
              </p>
            </div>
          </div>
        </div>
        <!-- Features Item Box End -->
        <!-- Features Item Box Start -->
        <div class="features-item-box features-box-2">
          <div class="features-item features-3">
            <div class="features-icon">
              <img src="assets/images/fear-2.png" alt="">
            </div>
            <div class="features-content">
              <h3 class="title">Consultoría técnica</h3>
              <p>Ofrecemos servicios de consultoría técnica para ayudarte a identificar los problemas y oportunidades en
                tu empresa. Nuestros consultores expertos te ayudarán a diseñar soluciones efectivas, implementarlas y
                monitorear su éxito a largo plazo.</p>
            </div>
          </div>
          <div class="features-item features-4">
            <div class="features-icon">
              <img src="assets/images/fear-5.png" alt="">
            </div>
            <div class="features-content">
              <h3 class="title">Aplicaciones móviles</h3>
              <p>Creamos aplicaciones móviles personalizadas y de alta calidad para iOS y Android. Desde el diseño hasta
                el desarrollo y la implementación, nuestro equipo de expertos trabaja contigo para garantizar que tu
                aplicación sea intuitiva, segura y fácil de usar. </p>
            </div>
          </div>
        </div>
        <!-- Features Item Box End -->
        <!-- Features Item Box Start -->
        <div class="features-item-box features-box-3">
          <div class="features-item features-5">
            <div class="features-icon">
              <img src="assets/images/fear-3.png" alt="">
            </div>
            <div class="features-content">
              <h3 class="title">Creación de estrategias</h3>
              <p>Te ayudamos a crear estrategias efectivas para alcanzar tus objetivos empresariales. Nuestros expertos
                en estrategia trabajan contigo para definir tus objetivos, identificar tus fortalezas y debilidades, y
                diseñar un plan de acción personalizado que te permita alcanzar el éxito.</p>
            </div>
          </div>
          <div class="features-item features-6">
            <div class="features-icon">
              <img src="assets/images/fear-6.png" alt="">
            </div>
            <div class="features-content">
              <h3 class="title">SEO & Marketing Digital</h3>
              <p>Ayudamos a tu sitio web a obtener una mayor visibilidad en los motores de búsqueda mediante la
                optimización del contenido, la estructura y el rendimiento del sitio. Nuestro enfoque en la estrategia
                de SEO a largo plazo garantiza que tu sitio web siga siendo relevante y efectivo en el tiempo.</p>
            </div>
          </div>
        </div>
        <!-- Features Item Box End -->
      </div>
      <!-- Features-2 Item Wrap End -->
    </div>
    <!-- Features-2 Wrap End -->
  </div>
</div>
<!-- Features-2 End -->


<!--  Skill Start -->
<div class="section skill-section skill-section-4 section-padding">
  <div class="container">
    <div class="skill-wrap">
      <!--  Skill Content Wrap Start -->
      <div class="skill-content-wrap">
        <div class="row align-items-center">
          <div class="col-lg-5">
            <!--  Skill Content Left Start -->
            <div class="skill-content-left">
              <div class="experience">
                <h2 class="number">5+</h2>
                <span>Años de experiencia</span>
              </div>
              <h3 class="title">Ejecutamos todo tipo de <span> servicios de TI</span> que garantizan su éxito</h3>
            </div>
            <!--  Skill Content Left End -->
          </div>
          <div class="col-lg-7">
            <!--  Skill Content Right Start -->
            <div class="skill-content-right">
              <h3 class="title">Acelere la innovación con equipos tecnológicos de clase mundial Lo emparejaremos con una tecnología remota completa</h3>
              <div class="skill-bar-wrap">
                <!--  Skill Item Start  -->
                <div class="skill-item">
                  <div class="skill-header">
                    <h5 class="skill-title">Gestión de TI</h5>
                    <span class="skill-percentage">
                                                <span class="counter">100</span>
                                                %
                                                </span>
                  </div>
                  <div class="skill-bar">
                    <div class="bar-inner">
                      <div class="progress-line" data-width="100"></div>
                    </div>
                  </div>
                </div>
                <!--  Skill Item End  -->
                <!--  Skill Item Start  -->
                <div class="skill-item">
                  <div class="skill-header">
                    <h5 class="skill-title">Seguridad de Datos</h5>
                    <span class="skill-percentage">
                                                <span class="counter">100</span>
                                                %
                                                </span>
                  </div>
                  <div class="skill-bar">
                    <div class="bar-inner">
                      <div class="progress-line" data-width="100"></div>
                    </div>
                  </div>
                </div>
                <!--  Skill Item End  -->
                <!--  Skill Item Start  -->
                <div class="skill-item">
                  <div class="skill-header">
                    <h5 class="skill-title">Soluciones Innovadoras</h5>
                    <span class="skill-percentage">
                                                <span class="counter">100</span>
                                                %
                                                </span>
                  </div>
                  <div class="skill-bar">
                    <div class="bar-inner">
                      <div class="progress-line" data-width="100"></div>
                    </div>
                  </div>
                </div>
                <!--  Skill Item End  -->
              </div>
            </div>
            <!--  Skill Content Right End -->
          </div>
        </div>
      </div>
      <!--  Skill Content Wrap End -->
    </div>
  </div>
</div>
<!--  Skill End -->
