<!-- Service-2 Start -->
<div class="section service-section-2 section-padding-03"
     style="background-image: url('assets/images/bg/ser-2-bg.png');">
  <div class="container">
    <!-- Service-2 Wrap Start -->
    <div class="service-wrap-2">
      <div class="section-title2 text-center">
        <h3 class="sub-title">Lo que hacemos</h3>
        <h2 class="title">Nos enfocamos en <span>tecnologia</span></h2>
        <p>Acelere la innovación con equipos tecnológicos de clase mundial Lo conectaremos con un equipo remoto completo
          de increíbles talentos independientes</p>
      </div>
      <!-- Service-2 Content Wrap Start -->
      <div class="service-content-wrap-2">
        <div class="swiper-container service-2-active">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <!-- Service Item Start -->
              <div class="service-item">
                <div class="service-img">
                  <div class="shape-1"></div>
                  <div class="shape-2"></div>
                  <img src="assets/images/service/s-img-1.jpg" alt="">
                  <div class="service-img-text text-center">
                    <p>Ofrecemos soluciones de desarrollo de software a medida para satisfacer las necesidades
                      específicas de tu empresa.</p>
                  </div>
                </div>
                <div class="service-content">
                  <h3 class="title">Desarrollo de software</h3>
                </div>
              </div>
              <!-- Service Item End -->
            </div>
            <div class="swiper-slide">
              <!-- Service Item Start -->
              <div class="service-item">
                <div class="service-img">
                  <div class="shape-1"></div>
                  <div class="shape-2"></div>
                  <img src="assets/images/service/s-img-2.jpg" alt="">
                  <div class="service-img-text text-center">
                    <p>Creamos páginas web personalizadas y atractivas para tu negocio, con un diseño moderno y
                      responsive que se adapta a cualquier dispositivo.</p>
                  </div>
                </div>
                <div class="service-content">
                  <h3 class="title">Páginas web</h3>
                </div>
              </div>
              <!-- Service Item End -->
            </div>
            <div class="swiper-slide">
              <!-- Service Item Start -->
              <div class="service-item">
                <div class="service-img">
                  <div class="shape-1"></div>
                  <div class="shape-2"></div>
                  <img src="assets/images/service/s-img-3.jpg" alt="">
                  <div class="service-img-text text-center">
                    <p>Ofrecemos servicios de consultoría técnica para ayudarte a identificar los problemas y
                      oportunidades en tu empresa.</p>
                  </div>
                </div>
                <div class="service-content">
                  <h3 class="title">Consultoría técnica</h3>
                </div>
              </div>
              <!-- Service Item End -->
            </div>
          </div>


          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <!-- Service-2 Content Wrap End -->
    </div>
    <!-- Service-2 Wrap End -->
  </div>
</div>
<!-- Service-2 End -->


<!-- About-2 Start -->
<div class="section about-section-2 section-padding" style="background-image: url('assets/images/bg/about-2-bg.jpg');">
  <div class="container">
    <!-- About-2 Wrap Start -->
    <div class="about-wrap-2">
      <div class="row">
        <div class="col-lg-6">
          <!-- About-2 Image Start -->
          <div class="about-img">
            <img src="assets/images/about-3.jpg" alt="">
            <div class="about-img-text" style="background-image: url('assets/images/about-2-shape.jpg');">
              <span class="number">+5</span>
              <span class="text">Años de <br> experiencia</span>
            </div>
          </div>
          <!-- About-2 Image End -->
        </div>
        <div class="col-lg-6">
          <!-- About-2 Content Start -->
          <div class="about-content">
            <div class="section-title2">
              <h3 class="sub-title">¿Quiénes somos ?</h3>
              <h2 class="title">Somos <span>especialistas </span> en ayudar <span>a nuestros clientes a</span>
                digitalizar su negocio</h2>
            </div>
            <div class="about-list">
              <ul>
                <li>
                  <span class="about-icon"><i class="fas fa-check"></i></span>
                  <span class="about-text">Siempre nos enfocamos en la excelencia técnica</span>
                </li>
                <li>
                  <span class="about-icon"><i class="fas fa-check"></i></span>
                  <span class="about-text"> Tenemos ideas frescas e innovadoras</span>
                </li>
                <li>
                  <span class="about-icon"><i class="fas fa-check"></i></span>
                  <span class="about-text">Somos consultores, guías y socios de marcas</span>
                </li>
              </ul>
            </div>
            <div class="about-btn">
              <a class="btn btn-2" routerLink="contacto">¡Hagamos un proyecto!</a>
            </div>
          </div>
          <!-- About-2 Content End -->
        </div>
      </div>
    </div>
    <!-- About-2 Wrap End -->
  </div>
</div>
<!-- About-2 End -->


<!-- Video Start -->
<div class="section video-section" style="background-image: url('assets/images/video-img.jpg');">
  <div class="container">
    <!-- Video Wrap Start -->
    <div class="video-wrap">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <!-- Video Content Start -->
          <div class="video-content text-center">
            <h2 class="title">Brindamos soluciones de TI verdaderamente destacadas para su éxito</h2>
            <div class="video-play">
              <!--              <a class="popup-video" href="https://www.youtube.com/watch?time_continue=3&v=_X0eYtY8T_U">-->
              <!--                <i class="fas fa-play"></i>-->
              <!--                <span>Watch Intro</span>-->
              <!--              </a>-->
            </div>
          </div>
          <!-- Video Content End -->
        </div>
      </div>
    </div>
    <!-- Video Wrap End -->
  </div>
</div>
<!-- Video End -->

<!-- Features-2 Start -->
<div class="section features-section-2 section-padding">
  <div class="container">
    <!-- Features-2 Wrap Start -->
    <div class="features-wrap-2">
      <div class="section-title2 text-center">
        <h3 class="sub-title">nos centramos en la innovación total</h3>
        <h2 class="title">Especialistas en <span>servicios Tecnologicos</span></h2>
        <p>Acelere la innovación con equipos tecnológicos de clase mundial Lo conectaremos con un equipo remoto completo
          de increíbles talentos independientes.</p>
      </div>
      <!-- Features-2 Item Wrap Start -->
      <div class="features-item-wrap">
        <!-- Features Item Box Start -->
        <div class="features-item-box features-box-1">
          <div class="features-item features-1">
            <div class="features-icon">
              <img src="assets/images/fer-1.png" alt="">
            </div>
            <div class="features-content">
              <h3 class="title">Desarrollo de software</h3>
              <p>Ofrecemos soluciones de desarrollo de software a medida para satisfacer las necesidades específicas de
                tu empresa. Desde la planificación y el diseño hasta la implementación y el mantenimiento, nuestro
                equipo de expertos te acompañará durante todo el proceso para garantizar que tu proyecto cumpla con los
                estándares más altos de calidad. </p>
            </div>
          </div>
          <div class="features-item features-2">
            <div class="features-icon">
              <img src="assets/images/fear-4.png" alt="">
            </div>
            <div class="features-content">
              <h3 class="title">Páginas web</h3>
              <p>Creamos páginas web personalizadas y atractivas para tu negocio, con un diseño moderno y responsive que
                se adapta a cualquier dispositivo. Nuestro enfoque es en la experiencia del usuario, la optimización del
                SEO y la seguridad del sitio, para que puedas alcanzar tus objetivos de marketing en línea.
              </p>
            </div>
          </div>
        </div>
        <!-- Features Item Box End -->
        <!-- Features Item Box Start -->
        <div class="features-item-box features-box-2">
          <div class="features-item features-3">
            <div class="features-icon">
              <img src="assets/images/fear-2.png" alt="">
            </div>
            <div class="features-content">
              <h3 class="title">Consultoría técnica</h3>
              <p>Ofrecemos servicios de consultoría técnica para ayudarte a identificar los problemas y oportunidades en
                tu empresa. Nuestros consultores expertos te ayudarán a diseñar soluciones efectivas, implementarlas y
                monitorear su éxito a largo plazo.</p>
            </div>
          </div>
          <div class="features-item features-4">
            <div class="features-icon">
              <img src="assets/images/fear-5.png" alt="">
            </div>
            <div class="features-content">
              <h3 class="title">Aplicaciones móviles</h3>
              <p>Creamos aplicaciones móviles personalizadas y de alta calidad para iOS y Android. Desde el diseño hasta
                el desarrollo y la implementación, nuestro equipo de expertos trabaja contigo para garantizar que tu
                aplicación sea intuitiva, segura y fácil de usar. </p>
            </div>
          </div>
        </div>
        <!-- Features Item Box End -->
        <!-- Features Item Box Start -->
        <div class="features-item-box features-box-3">
          <div class="features-item features-5">
            <div class="features-icon">
              <img src="assets/images/fear-3.png" alt="">
            </div>
            <div class="features-content">
              <h3 class="title">Creación de estrategias</h3>
              <p>Te ayudamos a crear estrategias efectivas para alcanzar tus objetivos empresariales. Nuestros expertos
                en estrategia trabajan contigo para definir tus objetivos, identificar tus fortalezas y debilidades, y
                diseñar un plan de acción personalizado que te permita alcanzar el éxito.</p>
            </div>
          </div>
          <div class="features-item features-6">
            <div class="features-icon">
              <img src="assets/images/fear-6.png" alt="">
            </div>
            <div class="features-content">
              <h3 class="title">SEO & Marketing Digital</h3>
              <p>Ayudamos a tu sitio web a obtener una mayor visibilidad en los motores de búsqueda mediante la
                optimización del contenido, la estructura y el rendimiento del sitio. Nuestro enfoque en la estrategia
                de SEO a largo plazo garantiza que tu sitio web siga siendo relevante y efectivo en el tiempo.</p>
            </div>
          </div>
        </div>
        <!-- Features Item Box End -->
      </div>
      <!-- Features-2 Item Wrap End -->
    </div>
    <!-- Features-2 Wrap End -->
  </div>
</div>
<!-- Features-2 End -->




<!-- Cta Start -->
<div class="section cta-section-2" style="background-image: url('assets/images/bg/cta-2-bg.jpg');">
  <div class="container">
    <!-- Cta Wrap Start -->
    <div class="cta-wrap-2">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <!-- Cta Content Start -->
          <div class="cta-content">
            <h3 class="title">Comienza tu viaje con nosotros</h3>
          </div>
          <!-- Cta Content End -->
        </div>
        <div class="col-lg-6">
          <!-- Cta Button Start -->
          <div class="cta-btn">
            <a class="btn" routerLink="contacto">Solicita una cotizacion</a>
          </div>
          <!-- Cta Button End -->
        </div>
      </div>
    </div>
    <!-- Cta Wrap End -->
  </div>
</div>
<!-- Cta End -->
