<!-- Service-2 Start -->
<div class="section service-section-2 section-padding-03" style="background-image: url('assets/images/bg/ser-2-bg.png');">
  <div class="container">
    <!-- Service-2 Wrap Start -->
    <div class="service-wrap-2">
      <div class="section-title2 text-center">
        <h3 class="sub-title">What we do</h3>
        <h2 class="title">We focus on <span>technology</span></h2>
        <p>Accelerate innovation with world-class tech teams We’ll match you to an entire remote team of incredible freelance talent.</p>
      </div>
      <!-- Service-2 Content Wrap Start -->
      <div class="service-content-wrap-2">
        <div class="swiper-container service-2-active">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <!-- Service Item Start -->
              <div class="service-item">
                <div class="service-img">
                  <div class="shape-1"></div>
                  <div class="shape-2"></div>
                  <a class="image" href="index-2.html#"><img src="assets/images/service/s-img-1.jpg" alt=""></a>
                  <div class="service-img-text text-center">
                    <p>Accelerate innovation with world-class tech teams We’ll match you to an entire remote team of incredible freelance</p>
                  </div>
                </div>
                <div class="service-content">
                  <h3 class="title"><a href="index-2.html#">Strategy & Discovery</a></h3>
                  <a class="read-more" href="index-2.html#"><i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
              <!-- Service Item End -->
            </div>
            <div class="swiper-slide">
              <!-- Service Item Start -->
              <div class="service-item">
                <div class="service-img">
                  <div class="shape-1"></div>
                  <div class="shape-2"></div>
                  <a class="image" href="index-2.html#"><img src="assets/images/service/s-img-2.jpg" alt=""></a>
                  <div class="service-img-text text-center">
                    <p>Accelerate innovation with world-class tech teams We’ll match you to an entire remote team of incredible freelance</p>
                  </div>
                </div>
                <div class="service-content">
                  <h3 class="title"><a href="index-2.html#">Software Solution</a></h3>
                  <a class="read-more" href="index-2.html#"><i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
              <!-- Service Item End -->
            </div>
            <div class="swiper-slide">
              <!-- Service Item Start -->
              <div class="service-item">
                <div class="service-img">
                  <div class="shape-1"></div>
                  <div class="shape-2"></div>
                  <a class="image" href="index-2.html#"><img src="assets/images/service/s-img-3.jpg" alt=""></a>
                  <div class="service-img-text text-center">
                    <p>Accelerate innovation with world-class tech teams We’ll match you to an entire remote team of incredible freelance</p>
                  </div>
                </div>
                <div class="service-content">
                  <h3 class="title"><a href="index-2.html#">Technology Consulting</a></h3>
                  <a class="read-more" href="index-2.html#"><i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
              <!-- Service Item End -->
            </div>
          </div>

          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <!-- Service-2 Content Wrap End -->
    </div>
    <!-- Service-2 Wrap End -->
  </div>
</div>
<!-- Service-2 End -->


<!-- About-2 Start -->
<div class="section about-section-2 section-padding" style="background-image: url('assets/images/bg/about-2-bg.jpg');">
  <div class="container">
    <!-- About-2 Wrap Start -->
    <div class="about-wrap-2">
      <div class="row">
        <div class="col-lg-6">
          <!-- About-2 Image Start -->
          <div class="about-img">
            <img src="assets/images/about-3.jpg" alt="">
            <div class="about-img-text" style="background-image: url('assets/images/about-2-shape.jpg');">
              <span class="number">25</span>
              <span class="text">Years of <br> experience</span>
            </div>
          </div>
          <!-- About-2 Image End -->
        </div>
        <div class="col-lg-6">
          <!-- About-2 Content Start -->
          <div class="about-content">
            <div class="section-title2">
              <h3 class="sub-title">Who we are</h3>
              <h2 class="title">We <span>specialise</span> in helping <span>our customers</span> digitise their business</h2>
            </div>
            <div class="about-list">
              <ul>
                <li>
                  <span class="about-icon"><i class="fas fa-check"></i></span>
                  <span class="about-text">We always focus on technical excellence</span>
                </li>
                <li>
                  <span class="about-icon"><i class="fas fa-check"></i></span>
                  <span class="about-text"> Wherever you’re going, we bring ideas and excitement</span>
                </li>
                <li>
                  <span class="about-icon"><i class="fas fa-check"></i></span>
                  <span class="about-text">We’re consultants, guides, and partners for brands</span>
                </li>
              </ul>
            </div>
            <div class="about-btn">
              <a class="btn btn-2" href="index-2.html#">Lets Do A Project</a>
            </div>
          </div>
          <!-- About-2 Content End -->
        </div>
      </div>
    </div>
    <!-- About-2 Wrap End -->
  </div>
</div>
<!-- About-2 End -->


<!-- Video Start -->
<div class="section video-section" style="background-image: url('assets/images/video-img.jpg');">
  <div class="container">
    <!-- Video Wrap Start -->
    <div class="video-wrap">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <!-- Video Content Start -->
          <div class="video-content text-center">
            <h2 class="title">We provide truly prominent IT solutions for your success</h2>
            <div class="video-play">
              <a class="popup-video" href="https://www.youtube.com/watch?time_continue=3&v=_X0eYtY8T_U">
                <i class="fas fa-play"></i>
                <span>Watch Intro</span>
              </a>
            </div>
          </div>
          <!-- Video Content End -->
        </div>
      </div>
    </div>
    <!-- Video Wrap End -->
  </div>
</div>
<!-- Video End -->

<!-- Features-2 Start -->
<div class="section features-section-2 section-padding">
  <div class="container">
    <!-- Features-2 Wrap Start -->
    <div class="features-wrap-2">
      <div class="section-title2 text-center">
        <h3 class="sub-title">focus on full innovation</h3>
        <h2 class="title">Designed for <span>IT Services</span></h2>
        <p>Accelerate innovation with world-class tech teams We’ll match you to an entire remote team of incredible freelance talent.</p>
      </div>
      <!-- Features-2 Item Wrap Start -->
      <div class="features-item-wrap">
        <!-- Features Item Box Start -->
        <div class="features-item-box features-box-1">
          <div class="features-item features-1">
            <div class="features-icon">
              <img src="assets/images/fer-1.png" alt="">
            </div>
            <div class="features-content">
              <h3 class="title">Analytics</h3>
              <p>Accelerate innovation with world-class tech teams. Our all service offerings to enhance </p>
            </div>
          </div>
          <div class="features-item features-2">
            <div class="features-icon">
              <img src="assets/images/fear-4.png" alt="">
            </div>
            <div class="features-content">
              <h3 class="title">Innovation</h3>
              <p>Accelerate innovation with world-class tech teams. Our all service offerings to enhance </p>
            </div>
          </div>
        </div>
        <!-- Features Item Box End -->
        <!-- Features Item Box Start -->
        <div class="features-item-box features-box-2">
          <div class="features-item features-3">
            <div class="features-icon">
              <img src="assets/images/fear-2.png" alt="">
            </div>
            <div class="features-content">
              <h3 class="title">Digital marketing</h3>
              <p>Accelerate innovation with world-class tech teams. Our all service offerings to enhance </p>
            </div>
          </div>
          <div class="features-item features-4">
            <div class="features-icon">
              <img src="assets/images/fear-5.png" alt="">
            </div>
            <div class="features-content">
              <h3 class="title">Seo & Optimization</h3>
              <p>Accelerate innovation with world-class tech teams. Our all service offerings to enhance </p>
            </div>
          </div>
        </div>
        <!-- Features Item Box End -->
        <!-- Features Item Box Start -->
        <div class="features-item-box features-box-3">
          <div class="features-item features-5">
            <div class="features-icon">
              <img src="assets/images/fear-3.png" alt="">
            </div>
            <div class="features-content">
              <h3 class="title">Data Security</h3>
              <p>Accelerate innovation with world-class tech teams. Our all service offerings to enhance </p>
            </div>
          </div>
          <div class="features-item features-6">
            <div class="features-icon">
              <img src="assets/images/fear-6.png" alt="">
            </div>
            <div class="features-content">
              <h3 class="title">Email Marketing</h3>
              <p>Accelerate innovation with world-class tech teams. Our all service offerings to enhance </p>
            </div>
          </div>
        </div>
        <!-- Features Item Box End -->
      </div>
      <!-- Features-2 Item Wrap End -->
    </div>
    <!-- Features-2 Wrap End -->
  </div>
</div>
<!-- Features-2 End -->


<!-- Brand Logo Start -->
<div class="section Brand-section Brand-section-2">
  <div class="container">
    <!-- Brand Wrapper Start -->
    <div class="brand-wrapper brand-wrapper-2 text-center">
      <h3 class="brand-title">Trusted by <span>3300+</span> companies worldwide</h3>

      <!-- Brand Active Start -->
      <div class="brand-active">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <!-- Single Brand Start -->
            <div class="swiper-slide single-brand">
              <img src="assets/images/brand/brand-1.png" alt="Brand">
            </div>
            <!-- Single Brand End -->
            <!-- Single Brand Start -->
            <div class="swiper-slide single-brand">
              <img src="assets/images/brand/brand-2.png" alt="Brand">
            </div>
            <!-- Single Brand End -->
            <!-- Single Brand Start -->
            <div class="swiper-slide single-brand">
              <img src="assets/images/brand/brand-3.png" alt="Brand">
            </div>
            <!-- Single Brand End -->
            <!-- Single Brand Start -->
            <div class="swiper-slide single-brand">
              <img src="assets/images/brand/brand-4.png" alt="Brand">
            </div>
            <!-- Single Brand End -->
            <!-- Single Brand Start -->
            <div class="swiper-slide single-brand">
              <img src="assets/images/brand/brand-5.png" alt="Brand">
            </div>
            <!-- Single Brand End -->
            <!-- Single Brand Start -->
            <div class="swiper-slide single-brand">
              <img src="assets/images/brand/brand-2.png" alt="Brand">
            </div>
            <!-- Single Brand End -->
          </div>
        </div>
      </div>
      <!-- Brand Active End -->
    </div>
    <!-- Brand Wrapper End -->
  </div>
</div>
<!-- Brand Logo End -->

<!-- Cta Start -->
<div class="section cta-section-2" style="background-image: url('assets/images/bg/cta-2-bg.jpg');">
  <div class="container">
    <!-- Cta Wrap Start -->
    <div class="cta-wrap-2">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <!-- Cta Content Start -->
          <div class="cta-content">
            <h3 class="title">Start your journey with us</h3>
          </div>
          <!-- Cta Content End -->
        </div>
        <div class="col-lg-6">
          <!-- Cta Button Start -->
          <div class="cta-btn">
            <a class="btn" href="index-2.html#">Request A Quote</a>
            <a class="btn btn-white" href="index-2.html#">Call For Free</a>
          </div>
          <!-- Cta Button End -->
        </div>
      </div>
    </div>
    <!-- Cta Wrap End -->
  </div>
</div>
<!-- Cta End -->
